body{
	background-image:url("../img/galaxya1.png");
	margin: 0px;
	width: 100%; 
	height: 100%;

	overflow-y: hidden;
	overflow-x: hidden;

	
}
.lunaimagen{
	width:100%;
}
.luna{
	position:absolute; 
	bottom:0px;
	width:100%;
	height:100;
	
}

.cohete{
	
	text-align: center;
	bottom:0px;
	margin:0 auto;
	
}

.modificadorcohete{
	width:400px;
	
}


.menufuel{
	bottom:0px;
	left:0px;
	color:black;
	width:20%;
	height:200px;
	position:absolute;
	font-size:42px;
	font-weight:bold;
	background:white;
	
}


.menuopciones{
	top:0px;
	right:0px;
	position:absolute;

}


.menusonido>a>img{
	widht:190px;
	height:190px;
}

.menuajustes>a>img{
	widht:190px;
	height:190px;
}

.menupausa>a>img{
	widht:190px;
	height:190px;
	
}