body{
	background-image:url("../img/galaxya1.png");
	margin: 0px;
	width: 100%; 
	height: 100%;

	overflow-y: hidden;
	overflow-x: hidden;

	
}
.lunaimagen{
	width:100%;
}
.luna{
	position:absolute; 
	bottom:0px;
	width:100%;
	height:100;
	
}

.cohete{
	
	text-align: center;
	bottom:0px;
	margin:0 auto;
	
}




.menufuel{
	bottom:0px;
	left:0px;
	background:white;
	width:10%;
	height:100px;
	position:absolute;
	font-size:28px;
	font-weight:bold;
	background:white;
}


.menuopciones{
	top:0px;
	right:0px;
	position:absolute;
	
}

.instrucciones{
	text-align: center;
	margin:0 auto;
	width:80%;
	font-size:48px;
	font-weight:bold;
	background: rgba(255,255,255,0.7);
}
.acercade{
	
	text-align: center;
	margin:0 auto;
	width:80%;
	font-size:48px;
	font-weight:bold;
	background: rgba(255,255,255,0.7);
	
}

.menusonido>a>img{
	widht:140px;
	height:140px;
}




.menupausa>a>img{
	widht:140px;
	height:140px;
	
	
}

.menuajustes>a>img{
	widht:140px;
	height:140px;
}

